.marcas-bg{
  background: var(--cor-1);
  padding: 120px 0;
}

.marcas-header{
  text-align: center;
  margin-bottom: 60px;
}

.marcas-header h2 {
    display: block;
}

.marcas-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.marcas-header h2 span {
    display: block;
    line-height: 1.4;
}

.bateria-card img {
    width: 100%;
    height: 200px;
    object-fit: contain; 
}

.bateria-card {
  background: var(--cor-0);
  border-radius: 12px;
  padding: 24px;
  text-align: center;
  cursor: pointer;

  transition:
    transform .25s ease,
    box-shadow .25s ease;
}

.bateria-card:hover {
  transform: translateY(-8px);
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.10),
    0 8px 20px rgba(250, 204, 21, 0.30);
}






