.header-bg {
  background-color: var(--cor-f6);
  
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  align-items: center;
  gap: 40px;                      
  padding: 40px 0 20px;
}


.header > a {
  justify-self: start;
}


.header nav {
  justify-self: center; 
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  padding: 16px 0;
  display: inline-block;
  position: relative;
}
.header-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  height: 2px;
  width: 0;
  background: var(--cor-0);
  transition: width 0.4s ease;
}


.header-menu a:hover::after,
.header-menu a.ativo::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 16px;
    gap: 16px;
  }
    .header >a {
    justify-self: center;
  }

  .header nav {
    justify-self: center;
    width: 100%;
  }

  .header-menu {
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
  }

  .header-menu a {
    background: var(--cor-f6);
    padding: 12px 16px;
    border-radius: 8px;
  }

  .header-menu a:hover {
    background-color: var(--cor-f4);
  }

  .header-menu a::after {
    display: none;
  }
}

   
@media (max-width: 600px) {
  .header-menu {
    gap: 16px;
  }

  .header-menu a {
    font-size: 17px;
    padding: 12px 16px;
  }
}








