.introducao-bg {
  background-color: var(--cor-f6);
  padding: 40px 0 80px;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  padding: 40px 0;
  max-width: 1200px;
  box-sizing: border-box;
}

.introducao-conteudo {
  padding-bottom: 20px;
}

.introducao-conteudo h1 {
  margin-bottom: 32px;
}

.introducao-conteudo p {
  margin-bottom: 32px;
}

.introducao-imagem {
  height: clamp(280px, 40vw, 520px);
}

.introducao-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/*Responsivo*/

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
    text-align: center;
    padding-top: 16px;
  }

  .introducao h1 {
    font-size: 32px;
  }

  .introducao-conteudo {
    padding-bottom: 0;
  }

  .introducao-imagem img {
    height: 350px;
  }
}

@media (max-width: 600px) {
  .introducao-conteudo h1 {
    margin-bottom: 20px;
  }

  .introducao-conteudo p {
    margin-bottom: 24px;
  }
}
