.introducao-bg {
  background-color: var(--cor-f6);
  box-sizing: border-box;
  padding-top: 40px;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
  max-width: 1200px;
}

.introducao-conteudo {
  padding-bottom: 120px;
}

.introducao-conteudo h1 {
  margin-bottom: 32px;
}

.introducao-conteudo p {
  margin-bottom: 32px;
}

.introducao img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-left: 10px;
}

.botao img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  flex-shrink: 0;
}

.botao {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  line-height: 1;
}
