* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #111111;
}

h1,
h2,
h3,
h4,
ul,
p
 {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
 img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


.botao {
  display: inline-block;
  padding: 16px 32px;
  background: var(--cor-p1); 
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
  border: none;
  font: 600 1.125rem/1.5 "Poppins", sans-serif; 
}