* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #111111;
}

h1,
h2,
h3,
h4,
ul,
p
 {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
 img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


.botao {
  display: inline-block;
  padding: 16px 32px;
  background: var(--cor-p1); /* Seu amarelo */
  color: var(--cor-f6); /* Azul escuro para contraste */
  border-radius: 4px;
  text-decoration: none;
  transition: 0.3s;
  border: none;
  cursor: pointer;
}