* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #111111;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  /* Estrutura */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 16px 32px;

  /* Visual */
  background: linear-gradient(180deg, var(--cor-p1) 0%, var(--cor-p2) 100%);
  border-radius: 10px;
  border: none;
  appearance: none;
  cursor: pointer;

  /* Texto */
  color: var(--cor-12);
  font: 700 1.125rem/1 "Poppins", sans-serif;
  text-transform: uppercase;
  text-decoration: none;

  /* Interação */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background 0.3s ease;
}

/* Hover */
.botao:hover {
  background: linear-gradient(180deg, var(--cor-p2) 0%, var(--cor-p3) 100%);
  transform: translateY(-3px);
  box-shadow: 0 8px 24px rgba(202, 138, 4, 0.35);
}

/* Active (clique) */
.botao:active {
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(202, 138, 4, 0.3);
}

/* Acessibilidade – teclado */
.botao:focus-visible {
  outline: 3px solid var(--cor-p1);
  outline-offset: 4px;
}

/* Animação Mobile*/
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(202, 138, 4, 0.6);
  }
  70% {
    box-shadow: 0 0 0 12px rgba(202, 138, 4, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(202, 138, 4, 0);
  }
}

/* Responsivo mobile */
@media (max-width: 600px) {
  .botao {
    padding: 16px 28px;
    font-size: 16px;
    animation: pulse 2.5s infinite;
  }
}

@media (max-width:400px) {
  .botao {
    width: 100%;
    max-width: 320px;
    padding: 16px 20px;
    font-size: 13px;
  }
  .botao img {
  width: 22px !important;
  height: 22px !important;
}
}


